nav {
    display: flex;
    flex-wrap: nowrap!important;
    justify-content: space-between!important;
    align-items: center;
}
.container-fluid {
    display: initial!important;
    justify-content: flex-start;
}
.search {
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
}
.form-control {
    width: 200px;
}
.row {
    text-align: center;
    padding-bottom: 12px;
}
.row>* {
    padding-left: 0;
    padding-right: 0;
}
.rowPagination {
    display: flex;
    justify-content: center;
    padding: 8px;
}
.fa-download {
    float: right;
    padding-bottom: 12px;
}
a {
    color: darkgrey;
}
a:hover {
    color: darkgrey;
}
.container {
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.card {
    justify-content: center;
}
img {
    max-width: 328px;
    max-height: 204px;
    object-fit: cover;
}

 @media (min-width: 576px){
    #foto{
            width: 25px;
            height: 25px;
    }
 }

  @media (min-width: 768px){
  #foto{
      
       width: 600px;
     height: 900px;
    }
 }

  @media (min-width: 992px){
  #foto{
      
      width: 500px;
     height: 750px;
    }
 }

  @media (min-width: 1200px){
  #foto{
    width: 300px;
     height: 600px;
    }
 }
